*{
  margin: 0px;
  padding: 0px;
}

.app {
  background-color: #fafafa; 
}

.header{
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.modal{
  display: flex;
  flex-direction: column;
}

.post{
  margin: 20px;
}